*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.nav-border
{
    border-bottom: 2px solid black;
    background-color: rgba(255, 255, 255, 0.525);
}
.laptop-size-link
{
    color: black;
    font-weight: 500;
    
}
.short-live
{
    width: 65px; 
    color: black;
    font-weight: 500;
}
.long-live
{
    width: 110px; 
    color: black;
    font-weight: 500;
}
.short-livest
{
    width: 85px; 
    color: black;
    font-weight: 500;
    text-align: center;
}
.long-livest
{
    width: 130px; 
    color: black;
    font-weight: 500;
    text-align: center;
}
.nav-link
{
    padding: 10px;
}
.nav-wrapper
{
    border-bottom: 2px solid black;
    background-color: white;
    z-index: 1;
}
.media-nav
{
    
    font-size: 12px;
}
.sign-in
{
    background-color: rgb(221, 221, 221);
    color: white;
    padding: 20px;
    width: 500px;
    position: absolute;
    top: 118%;
    right: -70%;
    color: black;
    /* z-index: 1; */
}
.sign-in-media
{
    background-color: rgb(221, 221, 221);
    color: white;
    padding: 20px;
    width: 90%;
    margin: auto;
    position: absolute;
    top: 93%;
    right: 5%;
    color: black;
}
.informatin-ditails
{
    font-weight: 500;
    font-size: 30px;
    margin: 27px 0px 10px 0px;
}
.sign-emoj
{
    position: relative;
}
/* #f-sign
{
width: 95%;
border: none;
background-color: white;
} */
.input-in
{
    position: relative;
    top: 0%;
    left: 0%;
    margin: 30px 0px 20px 0px;
}
.input-in input
{
    width: 90%;
    border: none;
    background-color: rgb(221, 221, 221);
    border-bottom: 1px solid black;
    margin: 0px 0px 0px 0px;
    outline: none;
}
.create-acc
{
    position: relative;
    top: 0%;
    left: 0%;
}
.create-acc .acc-line
{
   position: absolute;
   top: 100%;
   left: 0%;
   width: 100%;
   height: 2px;
   background-color: black;
   transition: all 0.5s;
}
.erros
{
    position: absolute;
    top: 100%;
    left: 7%;
}
.create-acc:hover .acc-line
{
    width: 0%;
}
.login-btn
{
    width: 100%;
    padding: 0px 0px 3px 15px;
    text-align: start;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}
.body-wrap
{
   position: relative;
   top: 68px;
   z-index: -1;
}
.man
{
    position: relative;
    top: 0%;
    left: 0.05%;
    background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.4)),url(../img/mancloaths.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 135vh;
}
.woman
{
    position: relative;
    top: 0%;
    left: 0%;
    background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.4)),url(../img/womancloathe.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 135vh;
}
.man:hover span,.woman:hover span
{
    font-family: cursive;
}
.man span ,.woman span
{
    position: absolute;
    top: 95%;
    left: 3%;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: white;
}
.bi-arrow-up-right
{
    position: absolute;
    padding-left: 10px;
    margin-top: -7px;
    transition: all 0.3s;
    font-size: 25px;
    font-weight: 900;
} 
.man:hover .bi-arrow-up-right, .woman:hover .bi-arrow-up-right
{
   transform: rotate(45deg);
}
.media
{
    top: -8px;
}

@media(min-width:0px) and (max-width:576px)
{
    .media-nav ul{
        overflow: auto;
    }
    .media-nav ul::-webkit-scrollbar
    {
        background-color: transparent
    };
    .media-nav ul li .laptop-size-link{
        width: 0px;
    }
    .long-live
    {
        width: 110px; 
        color: black;
        font-weight: 500;
        text-align: center;
    }
    .short-live
    {
        width: 65px; 
        color: black;
        font-weight: 500;
        text-align: center;
    }
    .body-wrap
{
   position: relative;
   top: -20px;
   z-index: -1;
}
.man
{
    height: 100vh;
}
.woman
{
    height: 100vh;
}
}

@media(min-width:576px) and (max-width:768px)
{
    .sign-in-media
{
    background-color: rgb(221, 221, 221);
    color: white;
    padding: 20px;
    width: 70%;
    margin: auto;
    position: absolute;
    top: 93%;
    right: 5%;
    color: black;
}
.body-wrap
{
   position: relative;
   top: -18px;
   z-index: -1;
}
}



@media(min-width:768px) and (max-width:992px)
{
    .sign-in-media
{
    background-color: rgb(221, 221, 221);
    color: white;
    padding: 20px;
    width: 50%;
    margin: auto;
    position: absolute;
    top: 93%;
    right: 5%;
    color: black;
}
.body-wrap
{
   position: relative;
   top: -18px;
   z-index: -1;
}
.man
{
    height: 100vh;
}
.woman
{
    height: 100vh;
}
}


@media(min-width:992px) and (max-width:1200px)
{
    .sign-in-media
{
    background-color: rgb(221, 221, 221);
    color: white;
    padding: 20px;
    width: 40%;
    margin: auto;
    position: absolute;
    top: 93%;
    right: 5%;
    color: black;
}
.body-wrap
{
   position: relative;
   top: -19px;
   z-index: -1;
}
}

@media(min-width:1200px) and (max-width:1400px)
{
    .sign-in-media
{
    background-color: rgb(221, 221, 221);
    color: white;
    padding: 20px;
    width: 35%;
    margin: auto;
    position: absolute;
    top: 93%;
    right: 5%;
    color: black;
}
.body-wrap
{
   position: relative;
   top: 68px;
   z-index: -1;
}
}